Source: openvz-nova-driver
Maintainer: Daniel Salinas <imsplitbit@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7.4.3), python-support (>= 0.8.4)
Standards-Version: 3.9.3

Package: openvz-nova-driver
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-nova, nova-compute
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Nova virt driver for OpenVz